.page {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

/* HEADER */
.header {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-item-1 {
    margin-right: 20px;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #4a4a4a;
}

.logo {
    padding: 10px;
}

@media all and (min-width: 768px) {
    .header {
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        box-sizing: border-box; 
    }
}

/*MAIN*/

.section__main {
    height: 100vh;
    background-color: #3CDBC0;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 30px;  
    color: #FFFFFF;
    text-transform: capitalize;
    width: 210vh; 
}

@media all and (min-width: 768px) {
    .section__main {
        font-size: 40px;
    }
}    